@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --header-height: 100px;
  --footer-height:80px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

aside.logo {
  grid-area: logo;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: self-end;
}

header.header {
  grid-area: header;
}

main.main {
  grid-area: main;
}

footer.footer {
  grid-area: footer;
}

.app {
  margin: 0;
  display: grid;
  grid-template-columns: 86px 1fr;
  grid-template-rows: 
      var(--header-height)
      1fr
      var(--footer-height);
  grid-template-areas: 
      "logo header"
      "main main"
      "footer footer";
  height: 100vh;
  background-color: #f5f5f5;
}



